.input-icon-picture{
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;

}
.input-icon-picture-people{

    background: url("../../../assets/app/img/login/tupian (6).png") no-repeat center center;
    background-size: 100% 100%;
}
.input-icon-picture-lock{
    background: url("../../../assets/app/img/login/tupian (4).png") no-repeat center center;
    background-size: 100% 100%;
}
.input-icon-picture-code{
    background: url("../../../assets/app/img/login/tupian (2).png") no-repeat center center;
    background-size: 100% 100%;
}
