.search {
  .title{
    padding-bottom: 15px;
    position: relative;
    width: 100%;
    .return{
      display: inline-block;
      height: 100%;
      width: auto;
      position: absolute;
      cursor: pointer;
      right: 0;

    }
  }
  .operation {
    margin-bottom: 2vh;
  }
  .select-count {
    font-size: 13px;
    font-weight: 600;
    color: #40a9ff;
  }
  .select-clear {
    margin-left: 10px;
  }
  .page {
    margin-top: 2vh;
  }
  .drop-down {
    font-size: 13px;
    margin-left: 5px;
  }
}
